:root {
  --cor-primaria: #ff1457;
  --cor-secundaria: #613c4c;
  --cor-terciaria: #453745;
  --cor-fundo1: #35313b;
  --cor-fundo2: #2b2c30;
  --cor-texto: #fff;
  --fonte-principal: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  font-family: var(--fonte-principal);
  background-color: var(--cor-fundo1);
}
header {
  background-color: var(--cor-fundo2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  height: 60px;
}
main {
  background-color: var(--cor-fundo1);
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav li {
  margin-left: 20px;
  color: white;
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
nav li:hover {
  border-bottom: 2px solid #f691ff;
}
