/* Cores e fontes gerais do projeto */

:root {
  --cor-primaria: #ff1457;
  --cor-secundaria: #d85a7d;
  --cor-terciaria: #613c4c;
  --cor-quaternaria: #453745;
  --cor-fundo1: #35313b;
  --cor-fundo2: #2b2c30;
  --cor-texto: #fff;
  --fonte-principal: "Afacad Flux", sans-serif;
}

.destaque {
  color: var(--cor-primaria);
  font-weight: bold;
}

/* Animação da imagem tela Home */

@keyframes moveImage {
  0% {
    transform: translate(0, -10px); /* Posição inicial */
  }
  50% {
    transform: translate(0px, 10px); /* Move para baixo */
  }
  100% {
    transform: translate(0, -10px); /* Volta para a posição inicial */
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Corpo do projeto */

body {
  margin: 0;
  font-family: var(--fonte-principal);
  background-color: var(--cor-fundo1);
  color: var(--cor-texto);
}

/* Estilo do cabeçalho */

header .interface {
  background-color: var(--cor-fundo2);
  color: var(--cor-texto);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  height: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

header .logo {
  font-size: 43px;
  font-weight: bold;
}

header .menu ul {
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
header .menu li {
  margin-left: 32px;
  letter-spacing: 3px;
  padding: 8px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
header .menu li a {
  font-size: 18px;
  color: var(--cor-texto);
  text-decoration: none;
}
header .menu li a.destaque {
  color: var(--cor-primaria);
}
header .menu li:hover {
  border-bottom: 2px solid var(--cor-primaria);
}

header .iconLinks {
  display: flex;
  gap: 20px;
  /* position: absolute; */
  /* right: 20px; */
}
header .iconLinks a {
  text-decoration: none;
  color: var(--cor-primaria);
  font-size: 24px;
}
header .iconLinks a:hover {
  transform: scale(1.2);
}

/* header .btnContato {
  position: absolute;
  right: 20px;
}
header .btnContato button {
  font-family: var(--fonte-principal);
  font-size: 21px;
  padding: 5px 40px;
  font-weight: 700;
  background-color: transparent;
  color: var(--cor-primaria);
  border: 2;
  border-radius: 30px;
  border-color: #ff1457;
  border-style: solid;
  cursor: pointer;
}
header .btnContato button:hover {
  border: 0;
  background-color: var(--cor-primaria);
  color: var(--cor-fundo2);
} */

header .mobileMenu {
  font-size: 24px;
  display: none;
}

/* Estilo do corpo página home */

.telaInicio {
  display: flex;
  padding: 16px;
  justify-content: space-around;
  align-items: center;
  min-height: 89vh;
}

.nome {
  margin-top: -33px;
  color: var(--cor-primaria);
  font-weight: bold;
  font-size: 103px;
}
.titulo {
  margin-top: -35px;
  font-weight: bold;
  font-size: 33px;
}
.resumo {
  margin-top: 50px;
  max-width: 700px;
  font-size: 23px;
}

.imageBox {
  padding: 40px 20px;
  width: 100%;
  max-width: 500px;
  height: auto;
  overflow: hidden;
}
.imageBox img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 20px var(--cor-primaria);
  animation: moveImage 2s infinite;
}

/* Responsividade */

@media screen and (max-width: 1100px) {
  body {
    overflow-x: hidden;
  }

  /* Cabeçalho */
  header .menu {
    position: absolute;
    z-index: 1000;
    top: 8vh;
    right: 0;
    width: auto;
    background-color: var(--cor-fundo2);
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  header .menu ul {
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }
  header .menu li {
    padding: 0px;
    width: 100%;
    display: block;
    text-align: end;
    opacity: 0;
  }
  header .menu li a {
    display: block;
    padding: 20px;
  }

  header .iconLinks {
    justify-content: center;
    position: static;
    margin: 0 auto;
    width: 100%;
  }

  header .mobileMenu {
    cursor: pointer;
    display: block;
  }
  header .mobileMenu .fechar {
    display: none;
  }

  /* header .btnContato {
    display: none;
  } */

  /* Tela Home */
  .telaInicio {
    padding: 20px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .nome {
    margin-top: -50px;
    font-size: 60px;
  }
  .titulo {
    margin-top: -45px;
  }
  .resumo {
    margin-top: 30px;
    text-align: justify;
  }
  .imageBox {
    align-items: center;
  }
  .imageBox img {
    height: 250px;
    width: 250px;
    margin-top: -10px;
    margin-bottom: -15px;
    z-index: 1;
  }
}

header .menu.active {
  transform: translateX(0);
}
header .mobileMenu.active .abrir {
  display: none;
}
header .mobileMenu.active .fechar {
  font-size: 21px;
  display: block;
}
