:root {
  --cor-primaria: #176585; /* Azul Escuro */
  --cor-secundaria: #27b1bf; /* Azul médio */
  --cor-terciaria: #36cecc; /* Azul forte */
  --cor-destaque: #c2e4cb; /* Azul com bege */
  --cor-fundo: #f7f3cf; /* Bege */
  --cor-texto: #000000; /* preto */
  --fonte-principal: Arial, Helvetica, sans-serif; /* Arial */
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  height: 60px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav li {
  margin-left: 20px;
  color: white;
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
nav li:hover {
  border-bottom: 2px solid #f691ff;
}
